.header-list {
  height: 30px;
  width: 700px;
  float: right;
  margin-right: 200px;
}

.header-list-menu {
  width: 450px;
  height: 100%;
  float: right;
  font-size: 16px;
  cursor: pointer;
}

.header-list-menu i {
  padding-left: 20px;
  color: rgb(94, 118, 155);
  word-spacing: 5px;
}
#footer {
  width: 1300px;
  height: 230px;
  padding: 30px 44px 50px;
  font-family: "Montserrat", sans-serif;
  color: #12284c;
}
#f_cont {
  width: 1260px;
  height: 250px;
  margin: auto;
  display: flex;
}
#f_cont input {
  border: 0;
  outline-style: none;
}
#f_cont input::placeholder {
  font-size: 15px;
  color: #12284c;
  font-weight: 300;
  letter-spacing: 0.2px;
  font-family: "Montserrat", sans-serif;
}
#f_cont > div:nth-child(1) {
  width: 300px;
  background-color: white;
}
#f_cont > div:nth-child(1) > p:nth-child(1) {
  line-height: 24px;
  letter-spacing: 0.2px;
  font-size: 14px;
  font-weight: 600;
}
#f_cont > div:nth-child(1) > p:nth-child(3) {
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.2px;
  width: 270px;
  margin-top: 20px;
}
#icons {
  display: flex;
  width: 250px;
  height: 25px;
  justify-content: space-between;
  margin-top: 19px;
}
#f_cont > div:nth-child(1) > p:nth-child(5) {
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0;
  margin-top: 20px;
}
#f_cont > div:nth-child(1) > div:nth-child(2) {
  width: 260px;
  height: 30px;
  border-bottom: 1px solid black;
  margin-top: 18px;
}
#f_cont > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-left: 100px;
}
#f_cont > div:nth-child(2) div {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  padding-top: 10px;
  width: 250px;
}
.fh {
  font-size: 14px;
  margin-bottom: 15px;
}
#first_c {
  width: 1333px;
  height: 33px;
  padding: 64px 0px 16px;
}
#first_c div {
  height: 46px;
  width: 756.8px;
  margin-left: 320px;
}
#first_c span {
  font-size: 42px;
  font-family: "Playfair Display", serif;
  color: #12284c;
  line-height: 29px;
  letter-spacing: 1px;
  font-stretch: expanded;
}
#second_c {
  width: 1333px;
  height: 90px;
  padding: 32px 0px 0px;
}
#second_c > div {
  width: 630px;
  height: 45px;
  margin: auto;
  padding: 14px;
  display: flex;
  font-family: "Montserrat", sans-serif;
  border: 1px solid black;
}
#first_btn {
  width: 222px;
  height: 37px;
  background-color: white;
  padding: 7px 14px;
  font-size: 14px;
  border-top: none;
  border-bottom: none;
  border-left: none;
  color: #14264a;
  margin-top: 7px;
}
#second_c #second_btn,
#third_btn,
#fourth_btn {
  width: 140px;
  height: 37px;
  padding: 7px 14px;
  font-size: 14px;
  color: #14264a;
  border-top: none;
  border-bottom: none;
  border-left: none;
  background-color: white;
  margin-top: 7px;
}
#fourth_btn {
  border: none;
}
#third_c {
  width: 1105px;
  height: 253px;
  padding: 72px 72px 0px;
  margin: 0px 122px;
}
#third_c > div:nth-child(1) {
  height: 20px;
  width: 230px;
  margin: auto;
  color: #12284c;
  font-size: 16px;
  font-family: "Montserr", sans-serif;
  margin-left: 350px;
  line-height: 29px;
  letter-spacing: 0.5px;
  font-weight: 500;
  font-style: normal;
}
#third_c > div:nth-child(2) {
  font-family: "Playfair Display", serif;
  color: #12284c;
  height: 60px;
  width: 830px;
  margin-left: 47px;
  font-style: normal;
}
#third_c h2 {
  font-size: 34px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  letter-spacing: 1px;
  font-weight: 300;
}
#third_c > div:nth-child(3) {
  height: 100px;
  width: 550px;
  margin-left: 200px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  color: #12284c;
  text-align: center;
}
#third_c > div:nth-child(3) > p {
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.2px;
}
#fourth_c {
  width: 1350px;
  height: 270px;
}
.inner_container {
  width: 950px;
  height: 100%;
  margin: auto;
  display: flex;
}
.inner_container div:nth-child(1),
div:nth-child(3) {
  width: 45%;
}
.inner_container img {
  width: 100%;
  height: 100%;
}
.inner_container > div:nth-child(3) {
  margin-top: 40px;
  font-style: normal;
  color: #12284c;
}
.inner_container > div:nth-child(2) {
  padding-top: 10px;
  padding-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
  margin-left: 40px;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.inner_container > div:nth-child(3) > p:nth-child(1) {
  font-size: 16px;
  line-height: 29px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-top: 3px;
}
.inner_container > div:nth-child(3) > p:nth-child(2) {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-size: 24px;
  line-height: 29px;
  margin-top: -5px;
}
.inner_container > div:nth-child(3) > p:nth-child(3) {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
.inner_container > div:nth-child(3) > a {
  font-size: 14px;
  line-height: 10px;
  letter-spacing: 0.5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  height: 29px;
  font-style: normal;
  color: #12284c;
}
#fifth_c {
  width: 1350px;
  height: 270px;
}
.second_inner_container {
  width: 950px;
  height: 100%;
  margin: auto;
  display: flex;
}
.second_inner_container div:nth-child(1),
div:nth-child(3) {
  width: 45%;
}
.second_inner_container img {
  width: 100%;
  height: 100%;
}
.second_inner_container > div:nth-child(1) {
  margin-top: 40px;
  font-style: normal;
  color: #12284c;
  text-align: right;
}
.second_inner_container > div:nth-child(2) {
  padding-top: 10px;
  padding-left: 20px;
  margin-right: 40px;
  margin-top: 40px;
  margin-left: 20px;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.second_inner_container > div:nth-child(1) > p:nth-child(1) {
  font-size: 16px;
  line-height: 29px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-top: 3px;
}
.second_inner_container > div:nth-child(1) > p:nth-child(2) {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  font-size: 24px;
  line-height: 29px;
  margin-top: -5px;
}
.second_inner_container > div:nth-child(1) > p:nth-child(3) {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
.second_inner_container > div:nth-child(1) > a {
  font-size: 14px;
  line-height: 10px;
  letter-spacing: 0.5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  height: 29px;
  font-style: normal;
  color: #12284c;
}
#eight_container {
  height: 200px;
  width: 1350px;
  padding-top: 72px;
}
#eight_container > div:nth-child(1) {
  height: 60px;
  width: 830px;
  margin: auto;
}
#eight_container h2 {
  text-align: center;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  font-size: 34px;
  letter-spacing: 1px;
  margin-bottom: 0;
  font-style: normal;
  color: #12284c;
  font-weight: 400;
}
#eight_container > div:nth-child(2) {
  height: 50px;
  width: 550px;
  margin: auto;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-size: 16px;
  text-align: center;
  font-style: normal;
  color: #12284c;
}
#ninth_container {
  height: 400px;
  width: 1350px;
  margin-top: -40px;
}
#ninth_container > img {
  width: 100%;
  z-index: -1;
  position: absolute;
}
#ninth_container > div {
  width: 500px;
  height: 400px;
  z-index: 5;
  top: 0;
  padding: 65px 10px;
}
#ninth_container > div > div:nth-child(1) {
  width: 360px;
  height: 50px;
  margin-left: 90px;
  margin-bottom: 10px;
}
#ninth_container > div > div:nth-child(1) > span:nth-child(1) {
  font-family: "Cedarville Cursive", cursive;
  line-height: 30px;
  color: #12284c;
  font-weight: 400;
  font-size: 45.9px;
}
#ninth_container > div > div:nth-child(1) > span:nth-child(2) {
  color: #12284c;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  line-height: 1.65;
  font-size: 34px;
}
#ninth_container > div > div:nth-child(2) {
  width: 240px;
  height: 40px;
  margin-left: 140px;
  color: #12284c;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  padding-top: 10px;
  border-top: 1px solid #12284c;
}
#ninth_container > div > div:nth-child(3) {
  width: 450px;
  height: 70px;
  margin-left: 25px;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.2px;
  font-size: 16px;
  color: #12284c;
  text-align: center;
}
#ninth_container > div > div:nth-child(4) {
  height: 30px;
  width: 124px;
  margin-left: 185px;
  color: #12284c;
  border-bottom: 2px solid #12284c;
  margin-top: 10px;
  line-height: 29px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
}
#tenth_container {
  width: 1350px;
  height: 270px;
}
#eleventh_container {
  width: 830px;
  height: 60px;
  margin-top: 250px;
  margin-left: 200px;
  font-family: "Playfair Display", serif;
  font-size: 34px;
  color: #12284c;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 500;
}
#twelth_container {
  width: 1350px;
  height: 400px;
  margin-top: 40px;
  display: flex;
}
#twelth_container > div:nth-child(1) {
  width: 40%;
  padding-left: 50px;
  padding-top: 120px;
}
#twelth_container > div:nth-child(1) {
  width: 60%;
}
#twelth_container img {
  width: 110%;
  height: 100%;
}
#twelth_container > div:nth-child(1) > div:nth-child(1) {
  font-family: "Montserrat", sans-serif;
  line-height: 25px;
  color: #12284c;
  font-size: 20px;
  font-weight: 500;
}
#twelth_container > div:nth-child(1) > div:nth-child(2) {
  font-size: 34px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #12284c;
}
#twelth_container > div:nth-child(1) > div:nth-child(3) {
  width: 400px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #12284c;
  margin-top: 10px;
  letter-spacing: 0.2px;
}
#twelth_container > div:nth-child(1) > div:nth-child(4) {
  width: 136px;
  font-size: 14px;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #12284c;
  border-bottom: 2px solid;
  line-height: 29px;
}
#thirteen_container {
  width: 1000px;
  height: 300px;
  margin-top: 50px;
  margin-left: 150px;
  display: flex;
}
#thirteen_container div {
  width: 50%;
  text-align: right;
}
#thirteen_container > div:nth-child(1) {
  padding-top: 30px;
}
#thirteen_container > div > p:nth-child(1) {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #12284c;
  letter-spacing: 0.5px;
}
#thirteen_container > div > p:nth-child(2) {
  color: #12284c;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 29px;
  margin-top: -10px;
}
#thirteen_container > div > p:nth-child(3) {
  color: #12284c;
  font-family: "Montserrat", sans-serif;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-size: 14px;
  font-weight: 400;
  margin-top: -10px;
}
#thirteen_container > div > p:nth-child(4) {
  color: #12284c;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 29px;
  letter-spacing: 0.5px;
  font-weight: 600;
  border-bottom: 2px solid;
  width: 165px;
  margin-left: 330px;
}
#fourteen_container {
  width: 830px;
  height: 90px;
  margin-left: 300px;
  text-align: center;
  margin-top: 140px;
}
#fourteen_container > p:nth-child(1) {
  color: #12284c;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 29px;
  letter-spacing: 0.5px;
  font-weight: 500;
}
#fourteen_container > p:nth-child(2) {
  font-family: "Playfair Display", serif;
  font-size: 34px;
  letter-spacing: 1px;
  color: #12284c;
  margin-top: -25px;
}

/* --------header------- */
.header-list {
  height: 30px;
  width: 700px;
  float: right;
  margin-right: 200px;
}

.header-list-menu {
  width: 450px;
  height: 100%;
  float: right;
  font-size: 16px;
  cursor: pointer;
}

.header-list-menu i {
  padding-left: 20px;
  color: rgb(94, 118, 155);
  word-spacing: 5px;
  font-size: 12px;
}
i span {
  margin-left: 10px;
  font-size: 11px;
  display: inline-block;
  letter-spacing: 1.5px;
}

.navbar-div {
  height: 30px;
  margin: auto;
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 10;
  width: 99%;
  padding-top: 20px;
}
.navbar {
  width: 850px;
  margin-left: 520px;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: rgb(94, 118, 155);
  text-align: center;
  text-decoration: none;
}
.dropdown {
  float: left;
  overflow: visible;
  margin-right: 40px;
}

.dropdown .dropbtn {
  font-size: 14px;
  border: none;
  outline: none;
  color: rgb(94, 118, 155);
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropbtn:hover {
  border-bottom: 2px solid rgb(94, 118, 155);
  font-weight: bolder;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  text-decoration: grey;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
  height: 400px;
  width: 1000px;
}

.dropdown-content a {
  float: none;
  color: rgb(94, 118, 155);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 14px;
}

.dropdown-content a:hover {
  background-color: white;
  color: rgb(27, 48, 83);
  font-weight: bolder;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar-image {
  width: 453px;
  height: 50px;
  margin: auto;
  padding-top: 0px;
}
.navbar-image img {
  width: 208px;
  height: 50px;
  margin-left: 25%;
}

/* ----modal----- */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 70%;
  height: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.5s;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  cursor: pointer;
}

.modal-header {
  padding: 20px 16px;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
}

/* -------head------- */
.header-list {
  height: 30px;
  width: 700px;
  float: right;
  margin-right: 130px;
}

.header-list-menu {
  width: 450px;
  height: 100%;
  float: right;
  font-size: 16px;
  cursor: pointer;
}

.header-list-menu i {
  padding-left: 20px;
  color: rgb(94, 118, 155);
  word-spacing: 5px;
}

.slidediv {
  width: 98.5vw;
  height: 36px;
  background-color: rgb(215, 235, 242);
}
#slideh {
  font-size: 10px;
  text-align: center;
  font-weight: lighter;
  padding-top: 10px;
  word-spacing: 1px;
  letter-spacing: 1px;
  animation: slide-right 2s infinite;
  animation-delay: 2s;
}

@keyframes slide-right {
  from {
    margin-right: -100%;
  }
  to {
    margin-right: 1600px;
  }
}

.dropdown-content1-div {
  display: none;
}
.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: white;
  width: 193px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
  height: 200px;
  margin-left: -155px;
}

.dropdown-content1 button {
  float: none;
  color: rgb(94, 118, 155);
  padding: 12px 16px;
  display: block;
  width: 193px;
  text-align: left;
  font-size: 12px;
  background-color: white;
  border: 1px solid grey;
}

.dropdown-content1 button:hover {
  background-color: white;
  font-weight: bolder;
}

.dropdown1:hover .dropdown-content1 {
  display: block;
}
.dropdown1 {
  float: left;
  overflow: visible;
}
.dropdown1 .dropbtn1 {
  font-size: 14px;
  border: none;
  outline: none;
  color: rgb(94, 118, 155);
  background-color: white;
  font-family: inherit;
  margin: 0;
}
.modal-body {
  margin: 3%;
  display: grid;
  gap: 6%;
  grid-template-columns: 20% 20% 20% 20%;
  row-gap: 9%;
  margin-left: 6%;
}

.innerdiv {
  border: 1px solid black;
  text-align: center;
}
